*{
    margin: 0px;
    padding: 0px;
}
.menu_containter{
    background-color: rgba(0, 0, 0, 0.719);
    padding: 10px;
    color: aliceblue;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
  height: 50px;
  width: 50px;

}
.menu{
    display: flex;
    align-items: center;

}
.item{
    margin-right: 10px;
    padding-right: 7px;
font-size: 18px;

}
.item:hover{
    color: brown;
    cursor: pointer;
}
.banner_img{
width: 250px;
}
.banner_container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid gray; */
    background-image: url("pic/back.jpg"); 
    /* linear-gradient(45deg,#000,#000); */
    color: aliceblue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner_text{

}
.title{
    font-size: 50px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px;
    background-color: red;
    color: aliceblue;
    cursor: pointer;
    border: none;
}
.btn:hover{
background-color: chartreuse;
color: black;
}
.pic{
    width: 400px;
    /* padding: 10px; */
}
.h{
text-align: center;
font-size: 50px;
padding-top: 10px;
}
.about_container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


.text{
    padding: 20px;
}
.box{
    width: 200px;
    height: 300px;
    box-shadow: 4px 4px 15px gray;
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 15px;
}
.icon{
    width: 70px;
}
.btn1{
    background-color: gray;
    margin-top: 10px;
}
.box_description{
padding: 10px;
}
.box_title{
padding: 10px;
font-size: 20px;
}
.service_container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(27, 17, 17);
}